:root {
  --main-color: #024946;
  --light-blue: #8fbfe0;
  --light-purple: #645f9e;
  --dark-blue: #1d8a99;
  --medium-blue: #0bc9cd;
}
html {
  background-color: rgb(247, 247, 247);
  margin: -8px;
  margin-right: -8px;
  margin-left: -8px;
  margin-bottom: -8px;
}
h1,
h2,
h3,
p,
li,
label,
a {
  color: black;
}
a:hover {
  color: gray;
}
.container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "nav search "
    "nav content"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 80px 1fr auto;
  gap: 5px;
}
header {
  background-color: rgb(222, 215, 241);
  margin-bottom: 3%;
  border-bottom: solid 3px;
  display: flex;
  border-radius: 0 0 10px 10px;
  justify-content: space-evenly;
  grid-area: header;
}
.main-header {
  color: rgb(99, 46, 136);
  border: dotted rgb(99, 46, 168) 0.5rem;
  border-radius: 50px;
  font-family: Courier, monospace;
  padding: 20px;

  font-size: 2.5rem;
}
.main-subheader {
  align-content: center;
  font-family: "Baumans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(99, 46, 168);
  font-size: 2.5rem;
  margin: 10px;
}
.header-paragraph {
  align-content: center;
}
button {
  background-color: rgb(170, 177, 177);
  border: solid 0.5px rgb(170, 177, 177);
  border-radius: 5px;
}
span {
  padding: 10px;
}
.nav-section {
  grid-area: nav;
  border-right: solid 1px;
  height: auto;
  position: sticky;
  top: 0;
}
.nav-list {
  list-style: none;
}
.nav-list li {
  padding-bottom: 20px;
  line-height: 38px;
  font-size: 1rem;
}
.main-section {
  grid-area: content;
  padding: 0;
  margin-right: 30px;
  margin-left: 10px;
}
.main-page-h3 {
  text-align: center;
  font-size: 1.5rem;
}
.articles-list,
.topics-list {
  padding-top: 0;
  list-style: none;
}
.topic-list-item,
.user-card {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
}
.user-image {
  width: 100px;
  height: 100px;
}
.article-card,
.user-card {
  border-bottom: solid;
}
.comments-list {
  list-style: none;
  margin-left: -40px;
}
.comment-card {
  border-top: solid;
  border-bottom: solid 1px;
  border-radius: 4px;
  background-color: rgb(248, 248, 248);

  margin: 2px;
  font-size: 1rem;
}
.comment-card > p {
  font-size: 0.85rem;

  margin: 3px;
}
.comment-buttons-add-del {
  display: flex;
  gap: 4px;
  margin-top: 4px;
  margin-bottom: -4px;
}
img {
  height: 200px;
  border-radius: 20px;
}
.form-section {
  grid-area: search;
  max-height: none;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px;
}
.search-button {
  margin-top: 4px;
}
.search-title {
  font-size: 1rem;
}
.search-form {
  text-align: center;
}
.sort-by {
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 1rem;
  margin-left: 30px;
}
.select-label select {
  display: block;
}
.select-label {
  text-align: center;
  margin-bottom: 20px;
  line-height: 45px;
}
.select {
  margin-top: 28px;
}

.footer-section {
  border-top: solid 1px;
  background-color: rgb(222, 215, 241);
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
}
.error-message {
  color: red;
  font-size: 0.8rem;
  text-align: center;
  grid-area: content;
  margin-top: 30px;
}
.success-message {
  color: rgb(86, 148, 86);
  font-size: 0.8 rem;
}
.comment-box form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 500px;
}

.comment-box input,
.comment-box textarea {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 4px;
}

.comment-box textarea {
  min-height: 100px;
  resize: vertical;
}

.comment-box .comment-buttons {
  display: flex;
  gap: 10px;
}

.comment-box .comment-buttons button {
  flex: 1;
  cursor: pointer;
}

.error-not-found {
  text-align: center;
  grid-area: content;
}
.error-not-found p {
  color: red;
}
.loading-message {
  grid-area: content;
  font-size: 0.8rem;
  margin-top: 30px;
  text-align: center;
}
.loading-paragraph {
  color: rgb(12, 12, 5);
  font-size: 0.8rem;
}

@media only screen and (max-width: 755px) {
  header .main-subheader {
    text-align: center;
    font-family: "Baumans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(99, 46, 168);
    font-size: 1.8rem;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-wrapper {
    grid-area: nav;
    display: flex;
    flex-direction: column;
  }

  .nav-toggle {
    display: block;
    font-size: 1.2rem;
    background: none;
    border: none;
    color: rgb(7, 5, 3);
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .nav-list li {
    padding-bottom: 8px;
    line-height: 25px;
    font-size: 0.8rem;
    margin-left: -20px;
  }
  .nav-section.hide {
    display: none;
  }
  .nav-section.show {
    display: block;
    background-color: rgb(247, 247, 247);
    padding: 10px;
  }

  .main-header {
    font-size: 1.5rem;
  }
  img {
    width: 150px;
    height: 110px;
  }
  .user-image {
    width: 60px;
    height: 60px;
  }
  .header-paragraph {
    align-content: center;
    font-size: 0.7rem;
  }
}
@media (min-width: 756px) {
  .nav-toggle {
    display: none;
  }

  .nav-section {
    display: block;
  }
}
